<html>
	<head>
		<title> Admin: Campaigns </title>
	</head>
	<body>
		<table width="100%">
			<tr height="80px" bgcolor="GreenYellow">
				<td width="80px" colspan="3" align="center">
					<h1> Fresh Farm Finance: Agriculture Crowdfunding </h1>
				</td>
			</tr>

			<tr height="540px">
				<td width="100px" valign="top" align="left">
					<h4> INDEX </h4>
					<ul>
						<li> <a href="ApproveProfiles.html"> Approve Profiles </a> </li>
						<li> <a href="VerifynBlockProfile.html"> Verify/Block Profiles </a> </li>
						<li> <a href="FinancialTransactions.html"> Financial Transactions </a> </li>
						<li> <a href="Queries.html"> Queries </a> </li>
						<li> <a href="Advertisements.html"> Advertisements </a> </li>
						<li> <a href="Campaigns.html"> Campaigns </a> </li>
					</ul>
				</td>

				<td width="400px" valign="top" align="center">
					<h2> Created Campaigns </h2>
					<p> Note: Campaigns started by users will be shown here. Admin can monitor them from here. </p>
				</td>

				<td width="100px" valign="top" align="right">
					<h4> Links </h4>
					<a href="Home.html"> Home </a> <br>
					<a href="Registration.html"> Registration </a> <br>
					<a href="Login.html"> Logout </a> <br>
				</td>
			</tr>

			<tr height="50px">
				<td align="center" colspan="3">
					<p>FFF:AgricultureCrowdfunding copyright @2022</p>
				</td>
			</tr>
		</table>
	</body>
</html>